.cards {
  max-width: calc(320px - 19px * 2);
}

@media screen and (min-width: 540px) {
  .cards {
    max-width: calc(282px * 2 + 17px);
  }
}

@media screen and (min-width: 768px) {
  .cards {
    max-width: calc(282px * 3 + 17px * 2);
  }
}

