.profile__edit-button {
  position: absolute;
  bottom: 6px;
  right: -28px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #fff;
  cursor: pointer;
  transition: opacity .2s ease-in-out;
}

.profile__edit-button:hover {
  opacity: .8;
}


@media screen and (min-width: 880px) {
  .profile__edit-button {
    bottom: 8px;
    right: -42px;
    width: 24px;
    height: 24px;
  }
}
