.img-popup__close-button-img {
  position: absolute;
  top: -36px;
  right: 0;
  width: 20px;
  height: 20px;
  background-image: url('../images/img-popup-close-button.svg');
  background-position: center;
  background-size: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: opacity .2s ease-in-out;
}

.img-popup__close-button-img:hover {
  opacity: .6;
}

@media screen and (min-width: 768px) {
  .img-popup__close-button-img {
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
  }
}
