.profile__job-text {
  margin-top: 0;
  margin-bottom: 36px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

@media screen and (min-width: 880px) {
  .profile__job-text {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 22px;
  }
}
