.cards__heart {
  width: 22px;
  height: 19px;
  cursor: pointer;
  background-image: url('../images/cards-heart.svg');
  background-size: 100%;
  -webkit-background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  background-color: #fff;
  transition: opacity .2s ease-in-out;
}

.cards__heart:hover {
  opacity: .6;
}
