.cards__heart {
  position: absolute;
  width: 22px;
  height: 19px;
  right: 20px;
  bottom: 29px;
  cursor: pointer;
  background-image: url('../images/cards-heart.svg');
  background-size: 100%;
  transition: opacity .2s ease-in-out;
}

.cards__heart:hover {
  opacity: .6;
}
